

.container {
    margin: 0 auto;
    max-width: 480px;
}

.content {
    padding: 3%;
    border: solid 1px black;
}

.header {
    background-image: url('http://via.placeholder.com/480x75');
    width: 100%;
    height: 75px;
}
.banner {
    background-image: url('http://via.placeholder.com/480x150');
    width: 100%;
    height: 150px;
}

.main-content {
    background-image: url('http://via.placeholder.com/480x125');
    width: 100%;
    height: 125px;
}

.secondary-content {
    background-image: url('http://via.placeholder.com/240x250');
    width: 50%;
    height: 250px;
    float: left;
}

.footer {
    background-image: url('http://via.placeholder.com/480x80');
    width: 100%;
    height: 80px;
}



@media only screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }
    .header {
        background-image: url('http://via.placeholder.com/960x100');
        height: 100px;
    }
    .sidebar-full {
        background-image: url('http://via.placeholder.com/200x600');
        height: 600px;
        float: left;
        width: 21%;
    }
    .main-content {
        background-image: url('http://via.placeholder.com/380x200');
        width: 39.5%;
        height: 200px;
        float: left;
    }
    .secondary-content {
        background-image: url('http://via.placeholder.com/190x250');
        width: 19.75%;
        height: 250px;
    }
    .footer {
        background-image: url('http://via.placeholder.com/760x150');
        width: 79%;
        height: 150px;
        float: left;
    }
}